@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  scroll-behavior: smooth;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navmenu{
  font-family: "omnes-pro", sans-serif;
  font-weight: 600;
  font-style: normal; 
}

.recipe-title{
  font-family: "omnes-pro", sans-serif;
  font-weight: 700;
  font-style: normal; 
}

.recipeContent{
  font-family: "azo-sans-web", sans-serif;
}

.recipeContent h3{
  font-family: "omnes-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
}

.recipeContent p{
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
}

.recipeContent ul{
  font-family: "azo-sans-web", sans-serif;
  margin-left: 2rem;
  list-style-type: circle;
  font-size: 1rem;
  line-height: 1.5;
}

h1{
  font-family: "omnes-pro", sans-serif;
  font-weight: 700;
  font-style: normal; 
}

h2{
  font-family: "omnes-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}



h4{
  font-family: "omnes-pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body{
  color: white;
}
/* scrollbar styles */

@media(min-width: 576px) {
    body::-webkit-scrollbar-track
    {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F7FA;
    }

    body::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F7FA;
    }

    body::-webkit-scrollbar-thumb
    {
        background-color: #F7A1C9;
    }
}
.page-container{
  color: white;
}

h1{
  font-family: "omnes-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

li{
  font-family: "omnes-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hamburger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
  background: #333;
}

.hamburger__top-bun {
  transform: translateY(-5px);
}

.hamburger__bottom-bun {
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(-1px);
}

.open .hamburger__top-bun {
  transform:
    rotate(45deg)
    translateY(0px);
}

.open .hamburger__bottom-bun {
  transform:
    rotate(-45deg)
    translateY(0px);
}

*:hover {
    transition: all 400ms ease;
}
.animatedbg {
  background: #116F7E;  /* fallback for old browsers */
  background: linear-gradient(to right, #077330, #134E5E);
  background-size: 400% 400%;
  animation: gradient 15s 5s ease-in infinite;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}
.hidden{
  display: none;
}

.content__container {
    overflow: hidden;
    height: 85px;
}

.content__container__list {
    list-style: none;
    animation-name: change;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

.content__container__list__item {
    margin: 0;
    line-height: 87px;
    color: white;
}

@keyframes change {
    0%, 7.14%, 100% {transform:translate3d(0,0,0);}
    14.28% {transform:translate3d(0,-14.28%,0);}
    21.42% {transform:translate3d(0,-28.57%,0);}
    28.57% {transform:translate3d(0,-42.85%,0);}
    35.71% {transform:translate3d(0,-57.14%,0);}
    42.85% {transform:translate3d(0,-71.42%,0);}
    53.5% {transform:translate3d(0,-85.71%,0);}
    64.28% {transform:translate3d(0,-71.42%,0);}
    71.42% {transform:translate3d(0,-57.14%,0);}
    78.54% {transform:translate3d(0,-42.85%,0);}
    85.71% {transform:translate3d(0,-28.57%,0);}
    92.85% {transform:translate3d(0,-14.28%,0);}
}
@media (max-width: 576px) {
  .content {
      padding-top: 51px;
  }
}

@media (min-width: 577px) {
.pt-scroll {
  padding-top: 51px;
}

.nav-sticky {
  position: fixed!important;
  min-width: 100%;
  top: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  transition: all .5s ease-in;
  z-index: 1;
}
}

/* since nested groups are not supported by tailwind we have to use 
   regular css for the nested dropdowns 
*/
li>ul                 { transform: translatex(100%) scale(0) }
li:hover>ul           { transform: translatex(101%) scale(1) }
li > span svg       { transform: rotate(-90deg) }
li:hover > span svg { transform: rotate(-270deg) }

/* Below styles fake what can be achieved with the tailwind config
   you need to add the group-hover variant to scale and define your custom
   min width style.
   See https://codesandbox.io/s/tailwindcss-multilevel-dropdown-y91j7?file=/index.html
   for implementation with config file
*/
.group:hover .group-hover\:scale-100 { transform: scale(1) }
.group:hover .group-hover\:-rotate-180 { transform: rotate(180deg) }
.scale-0 { transform: scale(0) }
.min-w-32 { min-width: 8rem }


/* HAMBURGER MENU */
.hamburger {
cursor: pointer;
width: 48px;
height: 48px;
transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
content: '';
position: absolute;
width: 24px;
height: 2px;
background: white;
transform: rotate(0);
transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
  background: white;
}

.hamburger__top-bun {
transform: translateY(-5px);
}

.hamburger__bottom-bun {
transform: translateY(3px);
}

.open {
transform: rotate(90deg);
transform: translateY(-1px);
}

.open .hamburger__top-bun {
transform:
  rotate(45deg)
  translateY(0px);
}

.open .hamburger__bottom-bun {
transform:
  rotate(-45deg)
  translateY(0px);
}
#top{
z-index: 5;
}