:root {
  /* Brand Colors */
  --color-primary: #01295F;
  --color-secondary: #EFA9B6;

  /* Background Colors */
  --color-bg: #FFFAEB  ;
  --color-bg-secondary: #F9DCE1;
  --color-bg-accent: #fFC933;

  /* Text and Border Colors */
  --color-text: #454545;
  --color-text-alt: #ffffff;
  --color-border: rgba(0, 0, 0, 0.06);

  /* Status Colors */
  --color-danger: #e03e3e;

  /* Typography */
  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --font-family-heading: var(--font-family-base);

  /* Sizes */
  --site-width: 850px;

  /* Other */
  --border-radius: 12px;
  --border-radius-sm: 5px;
}
