  <footer>
    <div class="p-6 text-center text-lg bg-neutral-700 border-t-4 border-green-400">
    <span>Choose Nourish is a project by: </span>
    <a
      class="hover:text-white text-lg w-full no-underline hover:underline text-grey-50"
      href="www.juxforyou.com"
      > Jarryd Battishill - u3092157 </a
    >
  </div>
</footer>