<form class="contact-form" name="submitMeal" method="POST" data-netlify="true">
 
  <label for="mealName">Recipe Name</label>
  <textarea name="mealName" id="mealName" 
  placeholder="Spaghetti Bolognese"
  required></textarea>
 
  <label for="details">Details</label>
  <textarea name="details" id="details" 
  placeholder="Makes: 12, Calories: 190 per Cookie, Macros:..." 
  rows="3" required></textarea>
 
  <label for="ingredients">Ingredients</label>
  <textarea name="ingredients" id="ingredients" 
  placeholder="1 Cup of GF Plain Flour, 1 Cup of Sugar, 1/2 Cup of Milk..." 
  rows="7" required></textarea>
  
  <label for="method">Method</label>
  <textarea name="method" id="method" 
  placeholder="Take the dry ingredients and mix together in a bowl..." 
  rows="7" required></textarea>
  
  <label for="tags">Tags</label>
  <textarea name="tags" id="tags" 
  placeholder="Gluten-Free, Low Iodine, Dessert..."
  rows="7" required> </textarea>
  
  <button class="contact-form__submit btn" type="submit" 
  name="submit">Submit Recipe</button>
</form>
