{# <div class="flex flex-col sm:flex-row w-full justify-between items-center px-4 sm:px-6 py-5 pink-950 sm:bg-transparent">
  <div class="w-full sm:w-auto self-start sm:self-center flex flex-row sm:flex-none flex-no-wrap items-center">
    <h1 class="text-gray-50 text-lg md:text-2xl lg:text-4xl">Please complete the form below to share your favourite meal</h1>
  </div>    

 <form class="" name="submitMeal" method="POST" data-netlify="true">

  <label for="mealName">Recipe Name</label>
  <textarea class="w-3/4" name="mealName" id="mealName" 
  placeholder="Enter the name of your meal"
  rows="1" required></textarea>

  <label for="details">Details</label>
  <textarea name="details" id="details" 
  placeholder="The details of your meal, e.g. Makes: 12, Calories: 190 per Cookie, Macros:..." 
  rows="3" required></textarea>

  <label for="ingredients">Ingredients</label>
  <textarea name="ingredients" id="ingredients" 
  placeholder="The ingredients of your meal, e.g. 1 Cup of GF Plain Flour, 1 Cup of Sugar, 1/2 Cup of Milk..." 
  rows="6" required></textarea>
  
  <label for="method">Method</label>
  <textarea name="method" id="method" 
  placeholder="The method of preparing your meal, e.g. Take the dry ingredients and mix together in a bowl..." 
  rows="6" required></textarea>
  
  <label for="tags">Tags</label>
  <textarea name="tags" id="tags"
  placeholder="The tags of your meal, e.g. Gluten-Free, Low Iodine, Dessert..."
  rows="6" required> </textarea>

  <label for="imgUrl">Image URL</label>
  <textarea name="imgUrl" id="imgUrl" 
  placeholder="The url to an online image of your meal, e.g. https://i.imgur.com/pR6fN19.jpeg"
  rows="1"> </textarea>
  
  <button class="button" type="submit" 
  name="submit">Submit Recipe</button> #}

  {# </form><!-- // End form --> #}

<section class="gradient-form h-full bg-neutral-600">
  <div class="container h-full p-10">
    <div class="g-6 flex h-full flex-wrap items-center justify-center text-neutral-50">
      <div class="w-full">
        <div class="block rounded-lg bg-neutral-800 text-neutral-50 shadow-lg">
          <div class="g-0 lg:flex lg:flex-wrap">
            <!-- Left column container-->
            <div class="px-4 md:px-0 lg:w-6/12">
              <div class="md:mx-6 md:p-12">
                <!--Logo-->
                <div class="text-center justify-center mx-auto align-middle w-3/4">
                  <img
                    class="mt-4"
                    src="/static/img/logo.png"
                    alt="logo" />
                  <h4 class="mb-12 mt-1 pb-1 text-lg font-light">
                  Please complete the form below to share your favourite meal with the Nourish Community
                  </h4>
                </div>

                <form class="" name="submitMeal" method="POST" data-netlify="true">
                   <!--Meal Name input-->
                  <div class="relative mb-6" data-te-input-wrapper-init>
                    <label for="mealName"> Meal Name: </label>
                    <input
                      type="text"
                      class="mt-2 bg-neutral-50 text-neutral-800  placeholder:text-neutral-600 placeholder:focus:opacity-0 peer block min-h-[auto] text-xs focus:text-base w-full rounded px-2 py-4 leading-[1.6] outline-none transition-all duration-200 ease-linear  peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  "
                      id="mealName" name="mealName"  rows="2" required
                      placeholder="The name of your recipe" />
                  </div>

                  <!--Contributer Name input-->
                  <div class="relative mb-6" data-te-input-wrapper-init>
                    <label for="contributer"> Contributed by: </label>
                    <input
                      type="text"
                      class="mt-2 bg-neutral-50 text-neutral-800  placeholder:text-neutral-600 placeholder:focus:opacity-0 peer block min-h-[auto] text-xs focus:text-base w-full rounded px-2 py-4 leading-[1.6] outline-none transition-all duration-200 ease-linear  peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  "
                      name="contributer" id="contributer" 
                      placeholder="If you wish to do so, please include your name or social media handle"/>
                  </div>                  

                  <!--Details input-->
                  <div class="relative mb-6" data-te-input-wrapper-init>
                    <label for="details"> Details: </label>
                    <input
                      type="text"
                      class="mt-2 bg-neutral-50 text-neutral-800  placeholder:text-neutral-600 placeholder:focus:opacity-0 peer block min-h-[auto] text-xs focus:text-base w-full rounded px-2 py-4 leading-[1.6] outline-none transition-all duration-200 ease-linear  peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  "
                      name="details" id="details" required
                      placeholder="The details of your meal, e.g. Makes: 12, Calories: 190 per Cookie, Macros:...">
                      </textarea>
                  </div>


                  <!--Ingredients input-->
                  <div class="relative mb-6" data-te-input-wrapper-init>
                    <label for="ingredients"> Ingredients:</label>
                    <textarea
                      type="text" 
                      class="mt-2 bg-neutral-50 text-neutral-800  placeholder:text-neutral-600 placeholder:focus:opacity-0 peer block min-h-[auto] text-xs focus:text-base w-full rounded px-2 py-4 leading-[1.6] outline-none transition-all duration-200 ease-linear  peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  "
                      name="ingredients"id="ingredients"rows="6"
                      required placeholder="The ingredients of your meal, e.g. 1 Cup of GF Plain Flour, 1 Cup of Sugar, 1/2 Cup of Milk..."></textarea>
                  </div>

                  <!--Method input-->
                  <div class="relative mb-6" data-te-input-wrapper-init>
                   <label for="method">Method: </label>
                    <textarea
                      type="text" 
                      class="mt-2 bg-neutral-50 text-neutral-800  placeholder:text-neutral-600 placeholder:focus:opacity-0 peer block min-h-[auto] text-xs focus:text-base w-full rounded px-2 py-4 leading-[1.6] outline-none transition-all duration-200 ease-linear  peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  "
                      name="method" id="method" rows="6"
                      required placeholder="The method of preparing your meal, e.g. Take the dry ingredients and mix together in a bowl.."></textarea>
                  </div>

                  <!--Cuisine input-->
                  <div class="relative mb-6" data-te-input-wrapper-init>
                   <label for="cuisine">Cuisine: </label>
                    <input
                      type="text"
                      class="mt-2 bg-neutral-50 text-neutral-800  placeholder:text-neutral-600 placeholder:focus:opacity-0 peer block min-h-[auto] text-xs focus:text-base w-full rounded px-2 py-4 leading-[1.6] outline-none transition-all duration-200 ease-linear  peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  "
                      name="cuisine" id="cuisine" rows="2" required
                      placeholder="The cuisine of your meal, e.g. Chinese, Indian, American, Greek...">
                    </input>
                  </div>

                <!--Restrictions input-->
                  <div class="relative mb-6" data-te-input-wrapper-init>
                     <label for="restrictions">Restriction Categories:</label>
                    <input
                      type="text"
                      class="mt-2 bg-neutral-50 text-neutral-800  placeholder:text-neutral-600 placeholder:focus:opacity-0 peer block min-h-[auto] text-xs focus:text-base w-full rounded px-2 py-4 leading-[1.6] outline-none transition-all duration-200 ease-linear  peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  "
                      name="restrictions" id="restrictions" rows="2" required
                      placeholder="The restriction categories of your meal, e.g. Gluten-Free, Low Iodine, Paleo...">
                    </input>
                  </div>

                  <!--Image URL input-->
                  <div class="relative mb-9 " data-te-input-wrapper-init>
                     <label for="imgUrl">Image URL:</label>
                    <input
                      type="text"
                      class="mt-2 bg-neutral-50 text-neutral-800  placeholder:text-neutral-600 placeholder:focus:opacity-0 peer block min-h-[auto] text-xs focus:text-base w-full rounded px-2 py-4 leading-[1.6] outline-none transition-all duration-200 ease-linear  peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  "
                      name="imgUrl" id="imgUrl" rows="2" required
                      placeholder="The url to an online image of your meal, e.g. https://i.imgur.com/pR6fN19.jpeg" />
                  </div>

                  

                  <!--Submit button-->
                  <div class="mb-12 pb-1 pt-1 text-center">
                    <button
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal border-white border-2 text-white shadow-[0_4px_9px_-4px_#3b71ca] 
                    transition duration-150 ease-in-out hover:bg-white hover:text-purple-900 hover:border-purple-700 hover:underline hover:underline-offset-2 hover:border-2 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                    type="submit" name="submit">
                    Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
        
            <!-- Right column container with image-->
            <div class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none">
              <img class="px-4 py-6 w-24 md:w-36 lg:w-48 xl:w-auto text-white md:mx-6 md:p-12" src="https://images.unsplash.com/photo-1627662057433-57fe8756a4f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80">
            </div>
          </div>
      </div>
    </div>
  </div>
</section>