<section class="gradient-form h-full bg-neutral-600">
  <div class="container h-full p-6">
    <div class="g-6 flex h-full flex-wrap items-center justify-center text-neutral-50">
      <div class="w-full">
        <div class="block rounded-lg border-y-4 border-green-400 bg-neutral-800 text-neutral-50 shadow-lg">
          <div class="g-0 lg:flex lg:flex-wrap">
            <!-- Left column container-->
            <div class="px-4 md:px-0 lg:w-6/12">
              <div class="md:mx-6 md:p-12">
                <!--Logo-->
                <div class="text-center justify-center mx-auto align-middle w-3/4">
                  <img
                    class="mt-4"
                    src="/static/img/logo.png"
                    alt="logo" />
                  <h4 class="mb-6 mt-1 pb-1 text-lg font-light">
                  Please complete the form below to share your favourite meal with the Nourish Community
                  </h4>
                 <h4 class="text-green-400 underline underline-offset-8 tracking-wider mb-6 pb-1 text-2xl font-normal">
                  All form fields are required
                </h4>
                </div>

                <form class="" name="submitMeal" method="POST" data-netlify="true">
                   <!--Meal Name input-->
                  <div class="relative mb-6" data-te-input-wrapper-init>
                    <label for="mealName"> Meal Name: </label>
                    <input
                      type="text"
                      class="mt-2 bg-neutral-50 text-neutral-800  placeholder:text-neutral-600 placeholder:focus:opacity-0 peer block min-h-[auto] text-xs focus:text-base w-full rounded px-2 py-4 leading-[1.6] outline-none transition-all duration-200 ease-linear  peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  "
                      id="mealName" name="mealName"  rows="2" required
                      placeholder="The name of your recipe" />
                  </div>

                  <!--Contributer Name input-->
                  <div class="relative mb-6" data-te-input-wrapper-init>
                    <label for="contributer"> Contributed by: </label>
                    <input
                      type="text"
                      class="mt-2 bg-neutral-50 text-neutral-800  placeholder:text-neutral-600 placeholder:focus:opacity-0 peer block min-h-[auto] text-xs focus:text-base w-full rounded px-2 py-4 leading-[1.6] outline-none transition-all duration-200 ease-linear  peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  "
                      name="contributer" id="contributer" 
                      placeholder="If you wish to do so, please include your name or social media handle"/>
                  </div>                  

                  <!--Details input-->
                  <div class="relative mb-6" data-te-input-wrapper-init>
                    <label for="details"> Details: </label>
                    <input
                      type="text"
                      class="mt-2 bg-neutral-50 text-neutral-800  placeholder:text-neutral-600 placeholder:focus:opacity-0 peer block min-h-[auto] text-xs focus:text-base w-full rounded px-2 py-4 leading-[1.6] outline-none transition-all duration-200 ease-linear  peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  "
                      name="details" id="details" required
                      placeholder="The details of your meal, e.g. Makes: 12, Calories: 190 per Cookie, Macros:...">
                      </textarea>
                  </div>


                  <!--Ingredients input-->
                  <div class="relative mb-6" data-te-input-wrapper-init>
                    <label for="ingredients"> Ingredients:</label>
                    <textarea
                      type="text" 
                      class="mt-2 bg-neutral-50 text-neutral-800  placeholder:text-neutral-600 placeholder:focus:opacity-0 peer block min-h-[auto] text-xs focus:text-base w-full rounded px-2 py-4 leading-[1.6] outline-none transition-all duration-200 ease-linear  peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  "
                      name="ingredients"id="ingredients"rows="6"
                      required placeholder="The ingredients of your meal, e.g. 1 Cup of GF Plain Flour, 1 Cup of Sugar, 1/2 Cup of Milk..."></textarea>
                  </div>

                  <!--Method input-->
                  <div class="relative mb-6" data-te-input-wrapper-init>
                   <label for="method">Method: </label>
                    <textarea
                      type="text" 
                      class="mt-2 bg-neutral-50 text-neutral-800  placeholder:text-neutral-600 placeholder:focus:opacity-0 peer block min-h-[auto] text-xs focus:text-base w-full rounded px-2 py-4 leading-[1.6] outline-none transition-all duration-200 ease-linear  peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  "
                      name="method" id="method" rows="6"
                      required placeholder="The method of preparing your meal, e.g. Take the dry ingredients and mix together in a bowl.."></textarea>
                  </div>

                  <!--Cuisine input-->
                  <div class="relative mb-6" data-te-input-wrapper-init>
                   <label for="cuisine">Cuisine: </label>
                    <input
                      type="text"
                      class="mt-2 bg-neutral-50 text-neutral-800  placeholder:text-neutral-600 placeholder:focus:opacity-0 peer block min-h-[auto] text-xs focus:text-base w-full rounded px-2 py-4 leading-[1.6] outline-none transition-all duration-200 ease-linear  peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  "
                      name="cuisine" id="cuisine" rows="2" required
                      placeholder="The cuisine of your meal, e.g. Chinese, Indian, American, Greek...">
                    </input>
                  </div>

                <!--Restrictions input-->
                  <div class="relative mb-6" data-te-input-wrapper-init>
                     <label for="restrictions">Restriction Categories:</label>
                    <input
                      type="text"
                      class="mt-2 bg-neutral-50 text-neutral-800  placeholder:text-neutral-600 placeholder:focus:opacity-0 peer block min-h-[auto] text-xs focus:text-base w-full rounded px-2 py-4 leading-[1.6] outline-none transition-all duration-200 ease-linear  peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  "
                      name="restrictions" id="restrictions" rows="2" required
                      placeholder="The restriction categories of your meal, e.g. Gluten-Free, Low Iodine, Paleo...">
                    </input>
                  </div>

                  <!--Image URL input-->
                  <div class="relative mb-9 " data-te-input-wrapper-init>
                     <label for="imgUrl">Image URL:</label>
                    <input
                      type="text"
                      class="mt-2 bg-neutral-50 text-neutral-800  placeholder:text-neutral-600 placeholder:focus:opacity-0 peer block min-h-[auto] text-xs focus:text-base w-full rounded px-2 py-4 leading-[1.6] outline-none transition-all duration-200 ease-linear  peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  "
                      name="imgUrl" id="imgUrl" rows="2" required
                      placeholder="The url to an online image of your meal, e.g. https://i.imgur.com/pR6fN19.jpeg" />
                  </div>

                  

                  <!--Submit button-->
                  <div class="mb-12 pb-1 pt-1 text-center">
                  <a><button class="bg-green-400 text-neutral-600 font-semibold px-6 py-3 rounded-md"
                      type="submit" name="submit">
                      Submit a meal
                    </button></a>
                  </div>
                </form>
              </div>
            </div>
        
            <!-- Right column container with image-->
            <div class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none">
              <img class="px-4 py-6 w-24 md:w-36 lg:w-48 xl:w-auto text-white md:mx-6 md:p-12" src="https://images.unsplash.com/photo-1627662057433-57fe8756a4f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80">
            </div>
          </div>
      </div>
    </div>
  </div>
</section>