---
layout: layouts/base.njk
section: project
---
<div
  class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat p-12 text-center border-b-4 border-purple-500"
  style="background-image: url('{{ image }}'); height: 350px">
  <div
    class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="flex h-full items-center justify-center">
      <div class="text-white">
        <h2 class="mb-4 text-4xl font-semibold">{{title}}</h2>
        <h4 class="mb-6 text-xl font-semibold">Contributed by: <span class="text-lg font-normal"> {{ contributor | safe}} </span> </h4>
        <a href = "#recipeContent"> <button
          type="button"
          class="rounded border-2 border-neutral-50 px-7 pb-[8px] pt-[10px] text-sm font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
          data-te-ripple-init
          data-te-ripple-color="light">
          Jump to recipe
        </button> </a>
      </div>
    </div>
  </div>
</div>

<main class="pt-8 pb-16 lg:pt-16 lg:pb-24">
  <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
    <article class="mx-auto w-full max-w-2xl">
       <div class="bg-neutral-700">
        <img
          class="max-h-[60vh] w-auto mb-4 p-6 mx-auto"
          src="{{ image }}"
          loading="lazy">
      </div>
      <h1 class="recipe-title text-center font-bold tracking-wide text-4xl mb-2">{{ title | safe}} </h1>
      <h4 class="font-bold text-center tracking-wide text-xl mb-4"> Contributed by: <span class="text-lg font-normal"> {{ contributor | safe}} </span> </h4>

      <div id="recipeContent" class="recipeContent">
        {{layoutContent | safe}}
      </div>
      <nav class="mt-6">
        <a href="{{ '/recipes/' | url }}">← View All Recipes</a>
      </nav>
    </article>
  </div>
</main>